# INDEX

# LIST OF TABLES

# LIST OF FIGURES

# Bright Motor Comapny Data Analysis

## PROBLEM STATEMENT

Bright Motor Company want to analyze the data to get a fair idea about the demand of customers which will help them in enhancing their customer experience. Suppose you are a Data Scientist at the company and the Data Science team has shared some of the key questions that need to be answered. Perform the data analysis to find answers to these questions that will help the company to improve the business.

## Data Dictionary

* **Age:** The age of the individual in years.
* **Gender:** The gender of the individual, categorized as male or female.
* **Profession:** The occupation or profession of the individual.
* **Marital_status:** The marital status of the individual, such as married & single
* **Education:** The educational qualification of the individual Graduate and Post Graduate
* **No_of_Dependents:** The number of dependents (e.g., children, elderly parents) that the individual supports financially.
* **Personal_loan:** A binary variable indicating whether the individual has taken a personal loan "Yes" or "No"
* **House_loan:** A binary variable indicating whether the individual has taken a housing loan "Yes" or "No"
* **Partner_working:** A binary variable indicating whether the individual's partner is employed "Yes" or "No"
* **Salary:** The individual's salary or income.
* **Partner_salary:** The salary or income of the individual's partner, if applicable.
* **Total_salary:** The total combined salary of the individual and their partner (if applicable).
* **Price:** The price of a product or service.
* **Make:** The type of automobile.

# Importing all the necessary Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the Dataset

In [ ]:
data = pd.read_csv(r"C:\Users\toshu\OneDrive\Desktop\bootcamp\5-bright_automotive_company_New.csv")

# Basic Exploration

### 1. - Displaying the top 5 upper rows

In [ ]:
data.head().T

## Observations
#### From the head we can infer that:
* ##### "No_of_Dependents", "Make" columns might be having wrong entries like "?"
* ##### There are null values in the dataset

### 2. - Displaying the 5 lowest Rows

In [ ]:
data.tail().T

### 3. - Getting the shape of the dataset i.e to get the number of rows and columns

In [ ]:
data.shape

### Observations
#### We can see that in our dataset:
* ##### There are 1581 rows. 
* ##### There are 14 columns.

### 4. -	Check the datatypes of each feature.

In [ ]:
data.info()

### Observations
#### We can see that in our dataset we have:
* ##### 3 columns which are of Int Datatype.
* ##### 2 columns which are of Float Datatype.
* ##### Remaining columns i.e 9 columns are of object Datatype.
* ##### No_of_Dependents column should be numerical datatype but appearing as object

### 5. - Check the Statistical summary

In [ ]:
data.describe()

### Observations
* ##### The maximum age is given as 120
* ##### the minimum age is given as 14 this needed to be checked as a 14 year cannot drive a car

# Data cleaning

### 6. - Check the null values

In [ ]:
data.isnull().sum()

### Observations
#### We can see that in our dataset:
* ##### only 4 columns (Gender, Profession, Salary, Partner_salary) have null values.

In [ ]:
data.isnull().sum()/len(data)*100

### 7. - Check the duplicate values

In [ ]:
data.duplicated().sum()

#### We can see that all the rows are unique and we have no duplicated rows

### 8. - Check the outliers and their authenticity.

In [ ]:
# creating boxplot for checking the outliers
for i in ["Age","Salary","Partner_salary","Total_salary","Price"]:
    plt.figure(figsize = (10,3))
    sns.boxplot(data = data, x=i)
    plt.show()

### Observations
#### we can see that:
* ##### Column 'Age','Total Salary and 'Price' has outliers which needed to be seen

In [ ]:
def remove_outlier(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR=Q3-Q1
    lower_range= Q1-(1.5 * IQR)
    upper_range= Q3+(1.5 * IQR)
    return lower_range, upper_range

In [ ]:
ll,ul = remove_outlier(data["Total_salary"])

In [ ]:
data[data["Total_salary"]>ul]

### Observation
##### we can see that in the Total_salary column we have outliers but they are correct and genuine values so they need not to be replaced

### 9. - Removing Anomalies

In [ ]:
data['No_of_Dependents'].unique()

In [ ]:
data['No_of_Dependents'].value_counts()

In [ ]:
data[data['No_of_Dependents'] == '?']